---
layout: default
title: "Organizers"
permalink: /organizers/
---
<main id="main" class="main-page">

  <!--Team Block Section-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Organizing Committee</h2>
        <p>Take a look at our core organizers.</p>
      </div>

      <div class="container wow fadeIn">
        <div class="row text-center justify-content-center mb-5">
          {% for person in site.data.organizers.organizing_committee %}
          <div class="col-sm-2 m-sm-auto">
            <img alt="{{ person.name }}" class="img-fluid rounded-circle" src="{{ person.photo | relative_url }}">
            <h3><strong>{{ person.name }}</strong></h3>
            <p><em>{{ person.role }}</em></p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="section-header wow fadeIn">
        <h2>Supporting Committee</h2>
        <p>The ones who were always giving us advices.</p>
      </div>
      <div class="container">
        <div class="row text-center justify-content-center mb-5">
          {% for person in site.data.organizers.supporting_committee %}
          <div class="col-sm-2 m-sm-auto">
            <img alt="{{ person.name }}" class="img-fluid rounded-circle" src="{{ person.photo | relative_url }}">
            <h3><strong>{{ person.name }}</strong></h3>
            <p><em>{{ person.role }}</em></p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="wow fadeInUp">
        <h3>Credits and Special Thanks</h3>
        <div class="elementor">
          <ul>
            <li>
              <p>Datostada's logo created by Álvaro Carbajal</p>
            </li>
          </ul>
          <ul>
            <li>
              <p>Web media content by Gabriela Pérez</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</main>
