---
layout: default
title: "Speakers"
permalink: /speakers/
---
<main id="main" class="main-page">

  <section id="speakers-details" class="wow fadeIn"><br>
    <div class="container">
      <div class="section-header">
        <h2>Speakers</h2>
        <p>Meet our incredible guests!</p>
      </div>

      <div class="row">
        {% for speaker in site.data.speakers %}
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="{{ speaker.photo | relative_url }}" alt="{{ speaker.name }}" class="img-fluid">
            <div class="details">
              <h3>{% if speaker.slug %}<a href="{{ '/speakers/' | append: speaker.slug | append: '/' | relative_url }}">{{ speaker.name }}</a>{% else %}{{ speaker.name }}{% endif %}</h3>
              <p>{{ speaker.role }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</main>
