<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}: {{ site.tagline }}{% endif %}</title>
<link rel="shortcut icon" href="{{ page.favicon | default: '/img/favicon.png' | relative_url }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--GFonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800">
<!--Bootstrap CSS File -->
<link rel="stylesheet" href="{{ '/lib/bootstrap/css/bootstrap.min.css' | relative_url }}">
<!--CSS Dependencies-->
<link rel="stylesheet" href="{{ '/lib/font-awesome/css/font-awesome.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/lib/animate/animate.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/lib/venobox/venobox.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/lib/owlcarousel/assets/owl.carousel.min.css' | relative_url }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<!--Main Stylesheet File-->
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
