<!--Nav Menu-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="{{ '/' | relative_url }}" class="scrollto"><img src="{{ '/img/cactus.png' | relative_url }}" alt="" title=""></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="{{ '/' | relative_url }}#about">ABOUT</a></li>
        <li><a href="{{ '/' | relative_url }}#speakers">SPEAKERS</a></li>
        <li><a href="{{ '/' | relative_url }}#schedule">SCHEDULE</a></li>
        <li><a href="{{ '/' | relative_url }}#venue">VENUE</a></li>
        <li><a href="{{ '/organizers/' | relative_url }}">ORGANIZERS</a></li>
        <li><a href="{{ '/' | relative_url }}#sponsors">SPONSORS</a></li>
        <li><a href="{{ '/' | relative_url }}#participate">PARTICIPATE</a></li>
        <li><a href="{{ '/faq/' | relative_url }}">FAQ</a></li>
        <li class="buy-tickets"><a href="{{ '/tickets/' | relative_url }}">TICKETS</a></li>
      </ul>
    </nav>
  </div>
</header>
